<div class="authContainer">
  <div class="logo-container">
    <img class="logo wobble-hor-bottom" src="/assets/images/logo.png">
  </div>
  <div class="authBlock shadow-drop-br">
    <form [formGroup]="signIn" (submit)="submit()">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>

      <button [disabled]="!signIn.valid" mat-raised-button class="button-submit" color="primary" type="submit">Log
        In</button>

      <div class="login-options">
 <!--        <div>
          <img class="logo-login"  (click)="authService.GoogleAuth()" src="/assets/images/icons/google.png">
        </div> -->
        <div class="redirectToLogin" routerLink='/sign-up' routerLinkActive="active">
          <span class="redirect">Register Now</span>
        </div>
   <!--      <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div> -->

      </div>

    </form>
  </div>
  <div class="owner-container">
    <span class="motto">A project by </span>
    <img  class="logo-owner-small"src="/assets/images/logo-owner.png">
  </div>


</div>
