<div class="authContainer">
  <div class="logo-container">
    <img class="logo wobble-hor-bottom" src="/assets/images/logo.png">
  </div>
  <div class="authBlock shadow-drop-br">
    <form [formGroup]="signUp" (submit)="submit()">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="signUpFormControl['email'].errors">Not a valid email</mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="signUpFormControl['password'].errors">
          <span *ngIf="signUpFormControl['password'].errors['minlength']">
            Required length of 8
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password">
        <mat-error *ngIf="signUpFormControl['confirmPassword'].errors">

          <span *ngIf="signUpFormControl['confirmPassword'].errors['passwordMismatch']">
            Password do not match
          </span>
        </mat-error>
      </mat-form-field>

      <button [disabled]="!signUp.valid" mat-raised-button class="button-submit" color="primary" type="submit">Sign
        up</button>

      <div class="login-options">
        <div class="redirectToLogin" routerLink='/sign-in' routerLinkActive="active">
          <span class="redirect">Log in</span>
        </div>
      </div>

    </form>
  </div>
  <div class="owner-container">
    <span class="motto">A project by </span>
    <img  class="logo-owner-small"src="/assets/images/logo-owner.png">
  </div>
</div>
