@import '../../../../theme/variables.scss';

.authContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  .authBlock{
    width: 80%;
    max-width: 360px;
    background-color: $main-grey;
    box-shadow: 3px 3px 24px -3px $main-pink;
    -webkit-box-shadow: 3px 3px 24px -3px $main-pink;
    -moz-box-shadow: 3px3px 24px -3px $main-pink;
    border-radius: 5%;
    padding:2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      .button-submit{
        margin-left: auto;
        margin-right: 1rem;
      }
    }
  }
  .logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:10%;

    .logo{
      width:9rem;
      margin: 1rem;
    }
  }

.login-options{
  display: flex;
  flex-direction: row;
  margin:1rem 0 0 0;
  gap: 10px;

  .redirectToLogin{
    &:hover{
      color: $link;
      font-weight: 500;
      cursor:pointer;
    }
  }
}
}

.owner-container{
  display: flex;
  flex-direction: column;
  .logo-owner-small{
    width:6rem;
  }
  .motto{
    margin: 2rem 0 .1rem 0;
    font-weight: 500;
  }
}
