/* You can add global styles to this file, and also import other style files */
@import './theme/variables.scss';
@import './theme/animation.scss';
html, body {
height: 100vh;
background-color: $main-dark-grey;
color:$main-white;
}

body {
  margin: 0;
  font-family:Roboto, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  color:$main-pink
}

.link-to{
    &:hover{
      color: $link;
      font-weight: 500;
      cursor:pointer;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
